/**
 * ----------------------------------------
 * animation slide
 * ----------------------------------------
*/
.slide-right {
  animation: slide-right 0.2s ease-out both;
  -webkit-animation: slide-right 0.2s ease-out both;
}

@keyframes slide-right {
  0% {
    -webkit-transform: translateX(-10vw);
    transform: translateX(-10vw);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translateX(-10vw);
    transform: translateX(-10vw);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
