.swiper-button-next,
.swiper-button-prev {
  --swiper-theme-color: #fff !important;
  width: 2.375rem !important;
  height: 2.375rem !important;
  margin-top: -19px !important;
  border-radius: 50% !important;
  color: #fff !important;
  background-color: rgba(118, 110, 100, 70%) !important;
}

.swiper-button-disabled {
  opacity: 0.6 !important;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 24px !important;
  font-weight: 900 !important;
}

@media screen and (max-width: 767px) {
  .swiper-button-next,
  .swiper-button-prev {
    visibility: hidden !important;
  }

  .swiper-button-next::after,
  .swiper-button-prev::after {
    display: none !important;
  }
}
