.swiper-button-next,
.swiper-button-prev {
  padding: 30px;
  border-radius: 50%;
  font-weight: 900;
  color: #fff;
  --swiper-theme-color: #fff;
  background-color: rgba(118, 110, 100, 70%);
}

.swiper-button-next::after {
  left: 0 !important;
  right: 0 !important;
}

.swiper-button-prev::after {
  left: 0 !important;
  right: 0 !important;
}

@media screen and (max-width: 767px) {
  .swiper-button-next,
  .swiper-button-prev {
    visibility: hidden;
  }

  .swiper-button-next::after,
  .swiper-button-prev::after {
    display: none;
  }
}
